<h3 class="entry-title"><%= spanned_link post.header, post.link %></h3>

<%= render :partial => 'posts/date', :locals => {:post => post}%>

<div class="entry entry-content">
<% cache(post.permalink) do -%>
  <%= clean_content_for(post) %>
<% end -%>
</div>

<% if %w(index mta).include?(params[:action]) -%>

  <div class="meta">
    <%= comments_link_for(post) if post.allow_comments? %>
    <%= render :partial => 'admin/posts/admin_links', :locals => {:post => post} %>
  </div>
  
  <% if post.from_feed? -%>
  <cite>&#x2010; Posted via <%= link_to post.feed.title, post.feed.url %></cite>
  <% end -%>

<% else -%>

  <%= render :partial => "/posts/types/comments.html.erb" if post.allow_comments? %>

<small><%= link_to 'Click here to go home', root_path %></small>

<% end -%>
